.background{
    background-color: #181818;
}

.containerVerticalFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 1500px;
    height: 100px;
    border-radius: 10px;
    align-self: center;
    background:	whitesmoke;
    margin-top: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: space-evenly;
}

.navBarBackgroundItem{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    background: #A9A9A9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navBarBackgroundItem p{
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.navBarBackgroundItem:hover p{
    display: none;
}

.dropdownDisplay{
    display: none;
    width: 200px;
    height: 400px;
    margin-top: 300px;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navBarBackgroundItem:hover .dropdownDisplay{
    display: flex;
    flex-direction: column;
}

.dropdownDisplay a{

    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.dropdownDisplayBackgroundItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 65px;
    margin-top: 12.5px;
    margin-left: 25px;
    border-radius: 10px;
    background: #A9A9A9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navBarItem{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.anchorStyling{
    text-decoration: none;
}
